<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                    $("input").click(function(){
                        $.getJSON('/hello_world/'+$(this).attr('id'), function() {getGraph();});
                    });

                function getGraph() {

                var width = 960,
                    height = 500,
                    radius = Math.min(width, height) / 2;

                var color = d3.scale.ordinal()
                    .range(["blue", "red", "green"]);

                var arc = d3.svg.arc()
                    .outerRadius(radius - 10)
                    .innerRadius(0);

                var pie = d3.layout.pie()
                    .sort(null)
                    .value(function(d) { return d.total; });

                var svg = d3.select("svg")
                    .attr("width", width)
                    .attr("height", height)
                  .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


                d3.csv("/hello_world/get_data.csv", function(error, data) {

                      var g = svg.selectAll(".arc")
                          .data(pie(data))
                          .enter().append("g")
                          .attr("class", "arc");

                      g.append("path")
                          .attr("d", arc)
                          .style("fill", function(d) { return color(d.data.color); });

                      g.append("text")
                          .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
                          .attr("dy", ".35em")
                          .style("text-anchor", "middle");
                    });
                }
                getGraph();
            });
        </script>
    <body>
        <h1>Quelle couleur préférez-vous?</h1>
        <input type="button" id="bleu" value="Bleu" /><br />
        <input type="button" id="rouge" value="Rouge" /><br />
        <input type="button" id="vert" value="Vert" /><br />
        <svg />
    </body>
</html>
