<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                    $("input").click(function(){
                        $.get('/hello_world/'+$(this).attr('id'),
                            function(data) {
                                console.log('sent');
                            }
                        );

                    });

            });
        </script>
    <body>
        <h1>Quelle couleur préférez-vous?</h1>
        <input type="button" id="bleu" value="Bleu" /><br />
        <input type="button" id="rouge" value="Rouge" /><br />
        <input type="button" id="vert" value="Vert" /><br />
    </body>
</html>
